@tailwind base;
@tailwind components;
@tailwind utilities;


@media screen and (max-width: 500px) {
    .vote {
       width: 96%;
    }
    .bar {
        width: 94%;
    }
    .login {
        width: 90%;
    }
}