@tailwind base;
@tailwind components;
@tailwind utilities;



@media (max-width: 768px) { 
    .image {
        flex-wrap: wrap;
    }
    .login {
        width: 90%;
    }
    .vote {
        width: 90%;
    }
 }